@import "~bootstrap/scss/bootstrap";

[class^=col]:not(.collapse) {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #dce6ee;
    color: rgb(0, 0, 0);
    border: 1px solid white;
}

.container {
    border-radius: 10px;
}

.row {
    background-color: #f8f9fa;
    outline: 1px solid white;
    border-radius: 10px;
    height: 10%;
  }

  .nav-link {
    cursor: pointer;
  }

  .col {
    border-radius: 10px;
  }

  .sort {
    cursor: pointer;
    height: 10%;
  }